# Python:
*.so
*.egg
*.egg-info
dist
build
*.pyc
report/draft.md
report/lab_report_1.aux
report/lab_report_1.log
report/lab_report_1.synctex.gz
report/lab_report_1.pdf
report/lab_report_1.bbl
report/lab_report_1.blg
*.pyc
.idea/*
__pycache__/*.pyc
.vscode/*
model/*